section .main{
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(../image/background_h.jpg);
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-size: cover;
    background-position: 80%;
    height: 100vh;
    
}

section .main .main_text h1{
    color: #fff;
    font-size: 60px;
    position: relative;
    top: -25px;
    left: 5%;
}

section .main .main_text h1 span{
    color: #facc22;
    font-family: polo;
}

section .main .main_text p{
    color: #fff;
    width: 650px;
    position: relative;
    top: 20px;
    left: 5%;
    line-height: 23px;
    text-align: justify;
}

section .main .main_text .btn i{
    margin-right: 8px;
}

section .main .main_text .btn{
    color: #fff;
    text-decoration: none;
    border: 2px solid #facc22;
    padding: 10px 20px;
    position: relative;
    top: 100px;
    left: 5%;
    transition: 0.3s;
}

section .main .main_text .btn:hover{
    color: #facc22;
}

section .main .main_text .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #facc22;
    z-index: -1;
    transform: 0.3s;
}

section .main .main_text .btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

section .main .main_image img{
    padding-top: 50px;
    padding-left: 50px;
    width: 650px;
    animation: animate 5s linear infinite;
}

.menu{
    width: 100%;
    height: 120vh;
    padding: 50px 0;
}
.menu h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: #000;
}

.menu h1 span{
    color: #facc22;
    margin-left: 15px;
}
.menu .menu_box{
    height: 100vh;
    width: 100%;
    margin: 45px auto 0 auto;
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu .menu_box .menu_card{
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 390px;
    height: 575px;
    text-align: center;
    cursor: pointer;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_img{
    margin: 0 auto;
    width: 350px;
    height: 250px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.menu .menu_box .menu_card .menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu .menu_box .menu_card .menu_text h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.menu .menu_box .menu_card .menu_text p{
    line-height: 19px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 360px;
}

.menu .menu_box .menu_card .menu_text .menu_icon{
    color:  #facc22;
    margin: 10px 0;
}

.menu .menu_box .menu_card .menu_text .price{
    font-weight: bold;
    font-size: 20px;
    padding: 3px 0;
    margin-left: 45px;
}

.menu .menu_box .menu_card .menu_text .price sub{
    margin-left: 5px;
    counter-reset: #6d6a6a;
    font-size: 13px;
}

.menu .menu_box .menu_card .menu_text .menu_btn{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #facc22;
    position: relative;
    top: 20px;
    z-index: 5;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover{
    color: #fff;
}

.menu .menu_box .menu_card .menu_text .menu_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #facc22;
    z-index: -1;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover::before{
    top: unset;
    bottom: 0;
    width: 100%;
}

.menu .menu_box .menu_card .menu_text .menu_btn i{
    margin-right: 8px;
}




